:root{
  --lightblue: #0061ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
}

/* header style */

header {
  min-height: 80px;
  background-color: white;
}

nav{
  display: flex;
  justify-content: space-between;
  height: 80px;
}

.nav_left{
  display: flex;
}

.nav_right{
  display: flex;
}

.logo-container{
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0rem 1.3rem;
}

.logo-container img{
  object-fit: contain;
}

.links_left{
  height: 100%;
  display: flex;
}

.link_box{
  height: 100%;
  display: flex;
  align-items: center;
}

.link_box a{
  text-decoration: none;
  color: black;
  padding: 0rem 1.3rem;
}

.btn-container{
  display: flex;
  align-items: center;
  padding-right: 1.3rem;
}

.btn-container .btn_small{
  font-size: 16px;
  padding: .4rem .7rem;
  color: white;
  background-color: var(--lightblue);
  border: none;
}

.links_right{
  height: 100%;
  display: flex;
}

/* Main Style */
/* hero section */

.hero {
  min-height: 740px;
  background-color: #b4d0e7;
}

.hero .container {
  min-height: 740px;
  width: 62.5%;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 100px;
}

.container h1{
  font-size: 80px;
  padding-bottom: 50px;
}

.hero_content{
  display: flex;
  align-items: stretch;
}

.hero_content .col{
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.col .hero_text{
  line-height: 21px;
}

.hero_content .col:nth-child(1){
  min-width: 30%;
}

.hero_content .col:nth-child(2){
  min-width: 70%;
  position: relative;
}

.hero_content .col:nth-child(2) img{
  width: 105%;
  max-height: 475px;
  object-fit: contain;
  position: absolute;
  bottom: -80px;
  left: 0px;
}

.btn_large{
  font-size: 16px;
  padding: .7rem .9rem;
  color: white;
  background-color: var(--lightblue);
  border: none;
}

.col i{
  margin-top: 2.7rem;
  font-size: 45px;
}

.business-plans {
  min-height: 1670px;
  background-color: rgb(170, 149, 149);
}

.find-partner {
  min-height: 670px;
  background-color: rgb(91, 61, 61);
}

.operations {
  min-height: 1280px;
  background-color: rgb(170, 149, 149);
}

.company-coverage {
  min-height: 1095px;
  background-color: rgb(57, 98, 31);
}

.free-trial {
  min-height: 360px;
  background-color: #b4d0e7;
}

.faq {
  min-height: 725px;
  background-color: rgb(125, 69, 174);
}

footer {
  min-height: 570px;
  background-color: black;
}